In [123]:
!gdown --id 1xJ8sahT95AdSDgr_immfnHmk1-VCpkAj
!gdown --id 1dTE9xqu5Sae3FIa8TIWJyvQ6FOv_HrRz

Downloading...
From: https://drive.google.com/uc?id=1xJ8sahT95AdSDgr_immfnHmk1-VCpkAj
To: /content/Supervisedready.csv
100% 2.06M/2.06M [00:00<00:00, 32.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1dTE9xqu5Sae3FIa8TIWJyvQ6FOv_HrRz
To: /content/public-test.csv
100% 682k/682k [00:00<00:00, 10.7MB/s]

In [124]:
import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [125]:
test=pd.read_csv('public-test.csv',delimiter='|')
test.head(1)
yTest = test['price']

In [126]:
df = pd.read_csv("Supervisedready.csv")
df

      Unnamed: 0  bookformat  bookedition  ...  704  705          price
0              9           5           -1  ...    0    1   98172.000000
1             17           3           -1  ...    0    1   57604.000000
2             29           7           -1  ...    0    1  103658.000000
3             33           2           -1  ...    0    1  649665.000000
4             44           7           -1  ...    0    1  247883.000000
...          ...         ...          ...  ...  ...  ...            ...
3544        3545           7           53  ...    0    1  335101.949308
3545        3546           2           -1  ...    0    1  323153.302721
3546        3547           2           26  ...    0    1  305593.965332
3547        3548           3           -1  ...    0    1  197921.433935
3548        3549           2           -1  ...    0    1  316473.831300

[3549 rows x 53 columns]

In [127]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler

In [128]:
X = df.drop("price",axis=1)
Y = df["price"]

numerics = [
            "pages"	,"weight","rating_value_0"
            ,"rating_value_1",'genre_0_weight',	'genre_1_weight',	'genre_2_weight'	
            ,'genre_3_weight'	,'genre_4_weight'	,'genre_5_weight',	'genre_6_weight'	
            ,'genre_7_weight',	"genre_8_weight",	"genre_9_weight",'totalRating'	,'weightRating1'	,'weightRating0'	
            ,'weightKategori'	,'volume'	,"weight_per_page","lexile_measureNumber",
            "genre_0","genre_1","genre_2","genre_3","genre_4","genre_5","genre_6","genre_7","genre_8","genre_9","lexile_measureNumber"
]

scalerX = MinMaxScaler() 
scalerY = MinMaxScaler()

X[numerics] = scalerX.fit_transform(X[numerics])
Y = scalerY.fit_transform(Y.values.reshape(-1,1))

In [129]:
from sklearn.metrics import mean_squared_error

In [130]:
from sklearn.model_selection import train_test_split
x_train,x_val,y_train,y_val = train_test_split(X,Y.reshape(len(Y),),random_state=2,test_size=0.05)

RandomForest = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=4, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

RandomForest.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=4, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=500, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [131]:
print(mean_squared_error(RandomForest.predict(x_val),y_val))

0.00181062306251658

In [132]:
import tensorflow as tf
import math
from tensorflow.keras import backend as K
def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true))) 


Percentage = 0.3
input = tf.keras.layers.Input(shape=(x_train.shape[1]))

layers = tf.keras.layers.Dense(units=1024,activation=tf.nn.relu)(input)
layers = tf.keras.layers.Dropout(Percentage + 0.5 )(layers)
layers = tf.keras.layers.Dense(units=128,activation=tf.nn.relu)(layers)
layers = tf.keras.layers.Dense(units=128,activation=tf.nn.relu)(layers)
layers = tf.keras.layers.Dense(units=52,activation=tf.nn.relu)(layers)
layers = tf.keras.layers.Dropout(Percentage )(layers)
layers = tf.keras.layers.Dense(units=1)(layers)
model = tf.keras.Model(inputs=[input],outputs=[layers])
model.compile(loss=root_mean_squared_error,optimizer=tf.keras.optimizers.Adam())
model.summary()

def create_learning_rate_scheduler(max_learn_rate=1e-3,
                                   end_learn_rate=1e-4,
                                   warmup_epoch_count=150,
                                   total_epoch_count=200):

    def lr_scheduler(epoch):
        if epoch < warmup_epoch_count:
            res = max_learn_rate
        else:
            res = max_learn_rate*math.exp(math.log(end_learn_rate/max_learn_rate)*(epoch-warmup_epoch_count+1)/(total_epoch_count-warmup_epoch_count+1))
        return float(res)
    learning_rate_scheduler = tf.keras.callbacks.LearningRateScheduler(lr_scheduler, verbose=1)

    return learning_rate_scheduler

Model: "model_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         [(None, 52)]              0
_________________________________________________________________
dense_15 (Dense)             (None, 1024)              54272
_________________________________________________________________
dropout_6 (Dropout)          (None, 1024)              0
_________________________________________________________________
dense_16 (Dense)             (None, 128)               131200
_________________________________________________________________
dense_17 (Dense)             (None, 128)               16512
_________________________________________________________________
dense_18 (Dense)             (None, 52)                6708
_________________________________________________________________
dropout_7 (Dropout)          (None, 52)                0
_________________________________________________________________
dense_19 (Dense)             (None, 1)                 53
=================================================================
Total params: 208,745
Trainable params: 208,745
Non-trainable params: 0
_________________________________________________________________

In [133]:
model.fit(x_train,y_train,epochs=200,
          callbacks=[create_learning_rate_scheduler()],verbose=0)

Epoch 00001: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00002: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00003: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00004: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00005: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00006: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00007: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00008: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00009: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00010: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00011: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00012: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00013: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00014: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00015: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00016: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00017: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00018: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00019: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00020: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00021: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00022: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00023: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00024: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00025: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00026: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00027: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00028: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00029: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00030: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00031: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00032: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00033: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00034: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00035: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00036: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00037: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00038: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00039: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00040: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00041: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00042: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00043: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00044: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00045: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00046: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00047: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00048: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00049: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00050: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00051: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00052: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00053: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00054: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00055: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00056: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00057: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00058: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00059: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00060: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00061: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00062: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00063: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00064: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00065: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00066: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00067: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00068: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00069: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00070: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00071: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00072: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00073: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00074: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00075: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00076: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00077: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00078: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00079: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00080: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00081: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00082: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00083: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00084: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00085: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00086: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00087: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00088: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00089: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00090: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00091: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00092: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00093: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00094: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00095: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00096: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00097: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00098: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00099: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00100: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00101: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00102: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00103: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00104: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00105: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00106: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00107: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00108: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00109: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00110: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00111: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00112: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00113: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00114: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00115: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00116: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00117: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00118: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00119: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00120: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00121: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00122: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00123: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00124: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00125: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00126: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00127: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00128: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00129: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00130: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00131: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00132: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00133: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00134: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00135: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00136: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00137: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00138: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00139: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00140: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00141: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00142: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00143: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00144: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00145: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00146: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00147: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00148: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00149: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00150: LearningRateScheduler reducing learning rate to 0.001.

Epoch 00151: LearningRateScheduler reducing learning rate to 0.0009558553094685292.

Epoch 00152: LearningRateScheduler reducing learning rate to 0.0009136593726391777.

Epoch 00153: LearningRateScheduler reducing learning rate to 0.0008733261623828434.

Epoch 00154: LearningRateScheduler reducing learning rate to 0.0008347734492114156.

Epoch 00155: LearningRateScheduler reducing learning rate to 0.0007979226336320892.

Epoch 00156: LearningRateScheduler reducing learning rate to 0.0007626985859023445.

Epoch 00157: LearningRateScheduler reducing learning rate to 0.0007290294928588949.

Epoch 00158: LearningRateScheduler reducing learning rate to 0.0006968467115083239.

Epoch 00159: LearningRateScheduler reducing learning rate to 0.0006660846290809158.

Epoch 00160: LearningRateScheduler reducing learning rate to 0.0006366805292623693.

Epoch 00161: LearningRateScheduler reducing learning rate to 0.0006085744643306688.

Epoch 00162: LearningRateScheduler reducing learning rate to 0.0005817091329374359.

Epoch 00163: LearningRateScheduler reducing learning rate to 0.0005560297632845826.

Epoch 00164: LearningRateScheduler reducing learning rate to 0.0005314840014580976.

Epoch 00165: LearningRateScheduler reducing learning rate to 0.0005080218046913021.

Epoch 00166: LearningRateScheduler reducing learning rate to 0.00048559533933996527.

Epoch 00167: LearningRateScheduler reducing learning rate to 0.000464158883361278.

Epoch 00168: LearningRateScheduler reducing learning rate to 0.0004436687330978612.

Epoch 00169: LearningRateScheduler reducing learning rate to 0.0004240831141767664.

Epoch 00170: LearningRateScheduler reducing learning rate to 0.00040536209634181065.

Epoch 00171: LearningRateScheduler reducing learning rate to 0.0003874675120456131.

Epoch 00172: LearningRateScheduler reducing learning rate to 0.0003703628786353606.

Epoch 00173: LearningRateScheduler reducing learning rate to 0.00035401332397365793.

Epoch 00174: LearningRateScheduler reducing learning rate to 0.0003383855153428234.

Epoch 00175: LearningRateScheduler reducing learning rate to 0.0003234475914876822.

Epoch 00176: LearningRateScheduler reducing learning rate to 0.00030916909765830894.

Epoch 00177: LearningRateScheduler reducing learning rate to 0.0002955209235202888.

Epoch 00178: LearningRateScheduler reducing learning rate to 0.00028247524380591114.

Epoch 00179: LearningRateScheduler reducing learning rate to 0.0002700054615852974.

Epoch 00180: LearningRateScheduler reducing learning rate to 0.0002580861540418075.

Epoch 00181: LearningRateScheduler reducing learning rate to 0.00024669302064117446.

Epoch 00182: LearningRateScheduler reducing learning rate to 0.000235802833588696.

Epoch 00183: LearningRateScheduler reducing learning rate to 0.00022539339047347907.

Epoch 00184: LearningRateScheduler reducing learning rate to 0.00021544346900318845.

Epoch 00185: LearningRateScheduler reducing learning rate to 0.00020593278373701613.

Epoch 00186: LearningRateScheduler reducing learning rate to 0.00019684194472866122.

Epoch 00187: LearningRateScheduler reducing learning rate to 0.0001881524179950016.

Epoch 00188: LearningRateScheduler reducing learning rate to 0.0001798464877298643.

Epoch 00189: LearningRateScheduler reducing learning rate to 0.00017190722018585748.

Epoch 00190: LearningRateScheduler reducing learning rate to 0.00016431842915062738.

Epoch 00191: LearningRateScheduler reducing learning rate to 0.0001570646429471555.

Epoch 00192: LearningRateScheduler reducing learning rate to 0.00015013107289081734.

Epoch 00193: LearningRateScheduler reducing learning rate to 0.00014350358313889455.

Epoch 00194: LearningRateScheduler reducing learning rate to 0.00013716866187107085.

Epoch 00195: LearningRateScheduler reducing learning rate to 0.00013111339374215645.

Epoch 00196: LearningRateScheduler reducing learning rate to 0.00012532543355087806.

Epoch 00197: LearningRateScheduler reducing learning rate to 0.00011979298107105216.

Epoch 00198: LearningRateScheduler reducing learning rate to 0.00011450475699382818.

Epoch 00199: LearningRateScheduler reducing learning rate to 0.0001094499799319544.

Epoch 00200: LearningRateScheduler reducing learning rate to 0.00010461834443918256.

In [134]:
print(mean_squared_error(model.predict(x_val),y_val))

0.0046438944936184464

In [135]:
test.isna().sum()

author_id           0
description         8
bookformat          0
bookedition       446
pages              20
published_date     31
publisher_id       31
reading_age       381
lexile_measure    403
grade_level       405
weight             62
rating_value_0      0
rating_value_1     56
rating_count_0      0
rating_count_1      0
dimension_0        63
dimension_1        63
dimension_2        81
genre_0            41
genre_1            47
genre_2            55
genre_3            63
genre_4            68
genre_5            73
genre_6            77
genre_7            80
genre_8            82
genre_9            87
genre_0_weight     41
genre_1_weight     47
genre_2_weight     55
genre_3_weight     63
genre_4_weight     68
genre_5_weight     73
genre_6_weight     77
genre_7_weight     80
genre_8_weight     82
genre_9_weight     87
price               0
dtype: int64

In [136]:
eksplor=test[["description",'reading_age','lexile_measure','grade_level']]

In [137]:

test['author_id'] = test['author_id'].astype('category')
test['publisher_id'] = test['publisher_id'].astype('category')
test['bookformat'] = test['bookformat'].astype('category')
test['bookedition'] = test['bookedition'].astype('category')


test['author_id']=test['author_id'].cat.codes
test['publisher_id']=test['publisher_id'].cat.codes
test['bookformat']=test['bookformat'].cat.codes
test['bookedition']=test['bookedition'].cat.codes

test.head(2)

   author_id  ...     price
0        359  ...  129789.0
1         32  ...  262465.0

[2 rows x 39 columns]

In [138]:
res=pd.Series()
for genre in test.columns[18:28]:
    res=res.append(test[genre])

res=pd.Series(res.unique())
dicGenre=res.to_dict()
dicGenre = dict((v,k) for k,v in dicGenre.items())
dicGenre[np.nan]=999
dicGenre

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

{'12th Century': 225,
 '15th Century': 310,
 '16th Century': 319,
 '18th Century': 181,
 '19th Century': 208,
 '1st Grade': 300,
 '21st Century': 299,
 'Abuse': 210,
 'Action': 96,
 'Activism': 284,
 'Adult': 65,
 'Adult Fiction': 49,
 'Adventure': 36,
 'Africa': 111,
 'African American': 211,
 'Aliens': 131,
 'Alternate History': 238,
 'Amateur Sleuth': 257,
 'Amazon': 296,
 'American': 221,
 'American History': 142,
 'American Revolution': 303,
 'Americana': 323,
 'Angels': 112,
 'Anglo Saxon': 324,
 'Animal Fiction': 302,
 'Animals': 55,
 'Anthologies': 95,
 'Anthropomorphic': 326,
 'Apocalyptic': 119,
 'Art': 152,
 'Arthurian': 155,
 'Asia': 117,
 'Asian Literature': 228,
 'Atheism': 193,
 'Audiobook': 102,
 'Australia': 134,
 'Autobiography': 166,
 'Aviation': 292,
 'BDSM': 69,
 'Bande Dessinée': 325,
 'Baseball': 114,
 'Biography': 32,
 'Biography Memoir': 135,
 'Biology': 133,
 'Birds': 294,
 'Book Club': 93,
 'Books About Books': 105,
 'Brain': 283,
 'Brazil': 290,
 'British Literature': 137,
 'Buddhism': 198,
 'Buisness': 143,
 'Business': 17,
 'Canada': 60,
 'Cats': 74,
 'Chick Lit': 62,
 'Childrens': 58,
 'China': 66,
 'Christian': 46,
 'Christian Fiction': 82,
 'Christianity': 196,
 'Civil War': 226,
 'Classics': 174,
 'Clean Romance': 271,
 'Climate Change': 239,
 'Cocktails': 297,
 'College': 201,
 'Comedian': 293,
 'Comedy': 106,
 'Comic Book': 161,
 'Comics': 37,
 'Coming Of Age': 104,
 'Computer Science': 223,
 'Computers': 304,
 'Conspiracy Theories': 278,
 'Contemporary': 28,
 'Contemporary Romance': 63,
 'Cookbooks': 26,
 'Cooking': 92,
 'Cozy Mystery': 86,
 'Crime': 35,
 'Culinary': 328,
 'Cult Classics': 320,
 'Cults': 151,
 'Cultural': 215,
 'Cyberpunk': 113,
 'Dark': 34,
 'Dark Fantasy': 148,
 'Death': 277,
 'Demons': 120,
 'Detective': 264,
 'Diary': 301,
 'Diets': 189,
 'Dinosaurs': 153,
 'Dogs': 83,
 'Dragons': 80,
 'Drama': 88,
 'Dystopia': 45,
 'Economics': 100,
 'Education': 31,
 'Entrepreneurship': 309,
 'Environment': 146,
 'Epic': 217,
 'Epic Fantasy': 61,
 'Erotic Romance': 241,
 'Erotica': 78,
 'Espionage': 170,
 'Essays': 91,
 'European History': 235,
 'Evolution': 231,
 'Fae': 141,
 'Fairy Tales': 118,
 'Faith': 218,
 'Family': 159,
 'Fantasy': 12,
 'Fashion': 316,
 'Female Authors': 305,
 'Feminism': 54,
 'Fiction': 1,
 'Film': 289,
 'Food': 40,
 'Food Preservation': 214,
 'Food Writing': 229,
 'Food and Drink': 157,
 'Foodie': 186,
 'Fostering': 266,
 'Fractured Fairy Tales': 280,
 'France': 103,
 'French Revolution': 249,
 'Futurism': 205,
 'Futuristic': 311,
 'Gardening': 250,
 'Gay': 298,
 'Gender': 224,
 'Gender Studies': 255,
 'Genetics': 165,
 'German Literature': 308,
 'Germany': 265,
 'Ghosts': 68,
 'Google': 262,
 'Gothic': 327,
 'Graphic Novels': 29,
 'Graphic Novels Comics': 125,
 'Greek Mythology': 230,
 'Green': 227,
 'Halloween': 267,
 'Health': 39,
 'High Fantasy': 139,
 'High School': 209,
 'Historical': 56,
 'Historical Fantasy': 180,
 'Historical Fiction': 8,
 'Historical Mystery': 187,
 'Historical Romance': 41,
 'History': 20,
 'Holocaust': 98,
 'Horror': 11,
 'Horses': 70,
 'How To': 259,
 'Humor': 23,
 'India': 57,
 'Indian Literature': 256,
 'Inspirational': 192,
 'Internet': 175,
 'Ireland': 107,
 'Irish Literature': 172,
 'Israel': 243,
 'Japan': 85,
 'Japanese Literature': 122,
 'Jewish': 149,
 'Journalism': 248,
 'Juvenile': 244,
 'Kids': 254,
 'LGBT': 43,
 'Law': 312,
 'Leadership': 167,
 'Lesbian': 285,
 'Literary Criticism': 236,
 'Literary Fiction': 81,
 'Literature': 145,
 'Love': 150,
 'Lovecraftian': 182,
 'Magic': 73,
 'Magical Realism': 101,
 'Mali': 270,
 'Management': 269,
 'Manga': 200,
 'Marvel': 253,
 'Mathematics': 252,
 'Media Tie In': 286,
 'Medical': 132,
 'Medicine': 77,
 'Medieval': 158,
 'Memoir': 4,
 'Mental Health': 147,
 'Mental Illness': 213,
 'Middle Grade': 18,
 'Military Fiction': 126,
 'Military History': 177,
 'Military Science Fiction': 179,
 'Murder Mystery': 322,
 'Music': 16,
 'Music Biography': 268,
 'Mystery': 3,
 'Mystery Thriller': 64,
 'Mythology': 90,
 'Natural History': 317,
 'Nature': 115,
 'Near Future': 216,
 'Neuroscience': 160,
 'New Adult': 59,
 'New Adult Romance': 288,
 'New York': 183,
 'Noir': 190,
 'Nonfiction': 9,
 'Nordic Noir': 242,
 'Novella': 197,
 'Novels': 84,
 'Nursing': 307,
 'Nutrition': 156,
 'Paranormal': 15,
 'Paranormal Romance': 21,
 'Parenting': 67,
 'Personal Development': 108,
 'Philosophy': 38,
 'Physics': 188,
 'Picture Books': 22,
 'Plantagenet': 258,
 'Plants': 321,
 'Plays': 173,
 'Poetry': 24,
 'Poetry Plays': 263,
 'Political Science': 184,
 'Politics': 25,
 'Pop Culture': 251,
 'Popular Science': 203,
 'Post Apocalyptic': 89,
 'Poverty': 168,
 'Pre K': 295,
 'Presidents': 162,
 'Productivity': 202,
 'Psychological Thriller': 222,
 'Psychology': 53,
 'Queer': 138,
 'Queer Lit': 314,
 'Race': 129,
 'Realistic Fiction': 52,
 'Reference': 47,
 'Relationships': 313,
 'Religion': 79,
 'Retellings': 99,
 'Road Trip': 245,
 'Romance': 19,
 'Romantic Suspense': 51,
 'Russia': 140,
 'Russian History': 234,
 'Scandinavian Literature': 176,
 'School': 128,
 'Science': 13,
 'Science Fiction': 2,
 'Science Fiction Fantasy': 123,
 'Scotland': 246,
 'Self Help': 71,
 'Sequential Art': 315,
 'Sexuality': 169,
 'Shapeshifters': 206,
 'Short Stories': 27,
 'Short Story Collection': 279,
 'Social Justice': 207,
 'Social Media': 318,
 'Social Science': 237,
 'Sociology': 109,
 'Southern': 124,
 'Space': 144,
 'Space Opera': 75,
 'Spain': 195,
 'Spanish Literature': 194,
 'Speculative Fiction': 191,
 'Spirituality': 50,
 'Sports': 76,
 'Spy Thriller': 204,
 'Star Wars': 33,
 'Steampunk': 48,
 'Storytime': 127,
 'Supernatural': 178,
 'Survival': 247,
 'Suspense': 30,
 'Tanzania': 212,
 'Teaching': 171,
 'Technology': 72,
 'Teen': 199,
 'Terrorism': 274,
 'The United States Of America': 164,
 'Thriller': 14,
 'Time Travel': 220,
 'Transgender': 232,
 'Travel': 0,
 'Travelogue': 291,
 'True Crime': 6,
 'True Story': 281,
 'Tudor Period': 136,
 'Unfinished': 233,
 'Urban Fantasy': 7,
 'Us Presidents': 260,
 'Vampires': 44,
 'Vegan': 154,
 'Victorian': 282,
 'Video Games': 306,
 'War': 97,
 'Webcomic': 276,
 'Weird Fiction': 219,
 'Werewolves': 185,
 'Westerns': 87,
 'Witches': 163,
 'Womens': 121,
 'Womens Fiction': 261,
 'World History': 240,
 'World War I': 130,
 'World War II': 94,
 'Writing': 273,
 'Young Adult': 5,
 'Young Adult Contemporary': 110,
 'Young Adult Fantasy': 116,
 'Young Adult Historical Fiction': 275,
 'Young Adult Romance': 272,
 'Young Readers': 287,
 'Zombies': 42,
 nan: 999}

In [139]:
for genre in test.columns[18:28]:
    test[genre]=test[genre].replace(dicGenre)

test

     author_id  ...     price
0          359  ...  129789.0
1           32  ...  262465.0
2          357  ...  182195.0
3          280  ...  288596.0
4          276  ...  230270.0
..         ...  ...       ...
495          3  ...  352263.0
496         24  ...  307364.0
497         88  ...  274159.0
498        337  ...  489992.0
499        125  ...  432966.0

[500 rows x 39 columns]

In [140]:
for genre in test.columns[28:38]:
    test[genre]=test[genre].fillna(0)


test.head(20)

    author_id  ...     price
0         359  ...  129789.0
1          32  ...  262465.0
2         357  ...  182195.0
3         280  ...  288596.0
4         276  ...  230270.0
5          47  ...  144081.0
6          80  ...  385324.0
7         204  ...  215400.0
8         180  ...  115352.0
9         290  ...  209192.0
10         79  ...  129211.0
11        133  ...   57604.0
12        145  ...  317325.0
13        373  ...   76805.0
14        396  ...  273870.0
15        279  ...  273292.0
16         57  ...  210636.0
17        256  ...  295814.0
18        232  ...  113908.0
19        347  ...  469202.0

[20 rows x 39 columns]

In [141]:
test.loc[test['rating_count_1'] <= 1, 'rating_value_1']=0
test.loc[test['rating_count_0'] <= 1, 'rating_value_0']=0

In [142]:
dataImpute=test[['pages','weight','dimension_0','dimension_1','dimension_2','rating_value_0','rating_value_1']]

dataImpute[90:100]

    pages   weight  dimension_0  ...  dimension_2  rating_value_0  rating_value_1
90  290.0      NaN          NaN  ...          NaN            4.00             0.0
91  304.0   789.25        15.54  ...          NaN            4.26             0.0
92  288.0  5080.23        13.97  ...        20.95            3.85             4.5
93  400.0  5579.18        13.97  ...        20.95            4.06             4.3
94  531.0   725.75        15.24  ...        22.86            4.32             4.6
95  184.0   625.96        17.68  ...        26.75            3.92             3.9
96  294.0   462.66        13.97  ...          NaN            4.33             4.7
97  256.0   453.59        15.24  ...        22.86            3.90             4.5
98  272.0      NaN          NaN  ...          NaN            4.25             4.7
99  272.0   476.27        16.51  ...        24.13            3.31             4.1

[10 rows x 7 columns]

In [143]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

Q1=int(test['weight'].quantile(0.25))
Q3=int(test['weight'].quantile(0.75))
IQR=Q3-Q1
batasatas=int(Q3+1.5*IQR)
batasbawah=int(Q1-1.5*IQR)

imp = IterativeImputer(max_iter=50, random_state=3,initial_strategy='mean',max_value=batasatas,min_value=batasbawah)
imp.fit(dataImpute)
miceImpute=imp.transform(dataImpute)
pd.DataFrame(miceImpute)[90:100]

        0            1          2          3          4     5    6
90  290.0  1623.997883  14.788871   8.414154  18.512860  4.00  0.0
91  304.0   789.250000  15.540000  23.500000  10.195167  4.26  0.0
92  288.0  5080.230000  13.970000   3.810000  20.950000  3.85  4.5
93  400.0  5579.180000  13.970000   2.870000  20.950000  4.06  4.3
94  531.0   725.750000  15.240000   4.320000  22.860000  4.32  4.6
95  184.0   625.960000  17.680000   1.850000  26.750000  3.92  3.9
96  294.0   462.660000  13.970000  20.950000  12.574602  4.33  4.7
97  256.0   453.590000  15.240000   2.390000  22.860000  3.90  4.5
98  272.0  2903.699478  15.899737   3.016885  22.278454  4.25  4.7
99  272.0   476.270000  16.510000   2.540000  24.130000  3.31  4.1

In [144]:
hasil=pd.DataFrame(miceImpute)
hasil=hasil[[0,1,2,3,4]]
test[['pages','weight','dimension_0','dimension_1','dimension_2']]=hasil
test['pages'] = test['pages'].astype(int)
test

     author_id  ...     price
0          359  ...  129789.0
1           32  ...  262465.0
2          357  ...  182195.0
3          280  ...  288596.0
4          276  ...  230270.0
..         ...  ...       ...
495          3  ...  352263.0
496         24  ...  307364.0
497         88  ...  274159.0
498        337  ...  489992.0
499        125  ...  432966.0

[500 rows x 39 columns]

In [145]:
test=test.drop(["description",'published_date','reading_age','lexile_measure','grade_level'],axis=1)

In [146]:
test['weight']  = np.where(test["weight"] < 0, test["weight"] * 0,test['weight'] * 1)

In [147]:
test['totalRating'] = test["rating_count_0"] + test["rating_count_1"]
test.drop(["rating_count_0","rating_count_1"],axis=1,inplace=True)

In [148]:
test["rating_value_1"].unique()

condition = [
             test["rating_value_1"] == 0,
             (test["rating_value_1"] > 0) & (test["rating_value_1"]   < 1),
             (test["rating_value_1"] > 1) & (test["rating_value_1"]   < 1.5 ),
             (test["rating_value_1"] > 1.5) & (test["rating_value_1"] < 2.5 ),
             (test["rating_value_1"] > 2.5) & (test["rating_value_1"] < 3.5),
             (test["rating_value_1"] > 3.5) & (test["rating_value_1"] < 4.5),
             (test["rating_value_1"] > 4.5)  
]
condition2 = [
             test["rating_value_0"] == 0,
             (test["rating_value_0"] > 0) & (test["rating_value_0"]   < 1),
             (test["rating_value_0"] > 1) & (test["rating_value_0"]   < 1.5 ),
             (test["rating_value_0"] > 1.5) & (test["rating_value_0"] < 2.5 ),
             (test["rating_value_0"] > 2.5) & (test["rating_value_0"] < 3.5),
             (test["rating_value_0"] > 3.5) & (test["rating_value_0"] < 4.5),
             (test["rating_value_0"] > 4.5)  
]

result = [
          "tidak",
          "sangat buruk",
          "buruk",
          "cukup",
          "lumayan",
          "baik",
          "sangat baik"
]
weightRating1 = np.select(condition,result)
test["weightRating1"] = weightRating1
test["weightRating1"] = test["weightRating1"].replace({"tidak" : 100,
                                                           "sangat buruk" : 101,
                                                           "buruk" : 102,
                                                           "cukup" : 103,
                                                           "lumayan" : 104,
                                                           "baik" : 105,
                                                         "sangat baik" : 106})
weightRating0 = np.select(condition2,result)
test["weightRating0"] = weightRating0
test["weightRating0"] = test["weightRating0"].replace({"tidak" : 200,
                                                           "sangat buruk" : 201,
                                                           "buruk" : 202,
                                                           "cukup" : 203,
                                                           "lumayan" : 204,
                                                           "baik" : 205,
                                                           "sangat baik" : 206})

In [149]:
condition = [
             test["weight"] < 500,
             (test["weight"] > 500) & (test["weight"] <1000),
             (test["weight"] > 1000) & (test["weight"] < 1500),
             (test["weight"] > 1500) & (test["weight"] < 3000),
             (test["weight"] > 3000)
]
result = [
          "sangat ringan",
          "ringan",
          "sedang",
          "berat",
          "sangat berat"
]
weightKategori = np.select(condition,result)
test["weightKategori"] = weightKategori
test["weightKategori"] = test["weightKategori"].replace({"sangat ringan" : 300,
                                                           "ringan" : 301,
                                                           "sedang" : 302,
                                                           "berat" : 303,
                                                           "sangat berat" : 304})

In [150]:
test["volume"] = test["dimension_0"] * test["dimension_1"] * test["dimension_2"]
test.drop(["dimension_0","dimension_1","dimension_2"],axis= 1, inplace=True)
test.head(1)

   author_id  bookformat  bookedition  ...  weightRating0  weightKategori      volume
0        359           4           -1  ...            205             304  477.800416

[1 rows x 34 columns]

In [151]:
test["weight_per_page"] = test["weight"] / test["pages"]
test.head(1)

   author_id  bookformat  ...      volume  weight_per_page
0        359           4  ...  477.800416        12.300814

[1 rows x 35 columns]

In [152]:
condition = [
             eksplor["lexile_measure"].str.match(r"AD\d+") == True,
             eksplor["lexile_measure"].str.match(r"HL\d+") == True,
             eksplor["lexile_measure"].str.match(r"GN\d+") == True,
             eksplor["lexile_measure"].str.match(r"\d+") == True,
             eksplor["lexile_measure"].str.match(r"NP") == True,
]
res = [
        "adult directed",
        "high low",
        "comic",
        "ordinary",
        "entertainment"
]

eksplor["lexile_codes"] = np.select(condition,res)
eksplor["lexile_codes"] = eksplor["lexile_codes"].replace({
    "0" : 400,
    "adult directed" : 401,
    "comic": 402,
    "high low" : 403,
    "ordinary" : 404,
    "entertainment" : 405
})
eksplor.head(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                         description  ... lexile_codes
0  Rachel Friedman has always been the consummate...  ...          400

[1 rows x 5 columns]

In [153]:
eksplor["lexile_measureNumber"] = eksplor["lexile_measure"].str.replace(r"[a-zA-Z]",'')

eksplor["lexile_measureNumber"].unique()
eksplor["lexile_measureNumber"].fillna("0",inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [154]:
eksplor[eksplor['lexile_measureNumber'] == ""] = 400

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [155]:
eksplor['lexile_measureNumber'] = eksplor["lexile_measureNumber"].astype('float')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [156]:
condition = [
             (eksplor["lexile_measureNumber"] > 190) & (eksplor["lexile_measureNumber"] < 925),
             (eksplor["lexile_measureNumber"] > 925 ) & (eksplor["lexile_measureNumber"] < 1050),
             (eksplor["lexile_measureNumber"] > 1050)
]

res = [
       "low",
       "sufficient",
       "proficient"
]

res = np.select(condition,res)
eksplor["lexile_categorical"] = res
eksplor["lexile_categorical"] = eksplor['lexile_categorical'].replace({
    "low" : 501,
    "sufficient" : 502,
    "proficient" : 503,
    "0" : 500
})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [157]:
condition  = [
              (eksplor["grade_level"] == "Preschool - Kindergarten") | (eksplor["grade_level"] == "Kindergarten - 3") |
              (eksplor["grade_level"] == "Preschool - 1") | (eksplor["grade_level"] == "Preschool - 2") |
              (eksplor["grade_level"] == "Preschool - 2") | (eksplor["grade_level"] == "1 - 2"),
              
              (eksplor["grade_level"] == "3 - 7") | (eksplor["grade_level"] == "4 - 6") |
              (eksplor["grade_level"] == "5 - 6") | (eksplor["grade_level"] == "4 - 7") ,


              (eksplor["grade_level"] == "5 - 8") | (eksplor["grade_level"] == "5 - 7") |
              (eksplor["grade_level"] == "5 - 9") | (eksplor["grade_level"] == "6 - 9") |
              (eksplor["grade_level"] == "6 - 9"), 


              (eksplor["grade_level"] == "8 and up") | (eksplor["grade_level"] == "9 and up") |
              (eksplor["grade_level"] == "7 and up") | (eksplor["grade_level"] == "10 and up") |
              (eksplor["grade_level"] == "8 - 12") | (eksplor["grade_level"] == "8 - 9") |
              (eksplor["grade_level"] == "9 - 12") | (eksplor["grade_level"] == "7 - 9") |
              (eksplor["grade_level"] == "10 - 12") | (eksplor["grade_level"] ==  "11 and up") |
              (eksplor["grade_level"] == "7 - 12")
]

res = [
       "very easy",
       "easy",
       "medium",
       "hard"
]

eksplor["grade_category"] = np.select(condition,res)
eksplor['grade_category']  = eksplor["grade_category"].replace({
    "0" : 600,
    "very easy" : 601,
    "easy" : 602,
    "medium" : 603,
    "hard" : 604
})

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [158]:
condition = [ 
           ((eksplor['reading_age'] == "3 - 5 years") | (eksplor["reading_age"] == "4 - 8 years") |
           (eksplor["reading_age"] == "5 - 8 years") | (eksplor["reading_age"] == "3 - 7 years") |
           (eksplor["reading_age"] == "3 - 6 years") | (eksplor["reading_age"] == "4 - 6 years") |
           (eksplor["reading_age"] == "4 - 7 years") | (eksplor["reading_age"] == "3 - 8 years") |
           (eksplor["reading_age"] == "2 - 5 years")) ,

           ((eksplor["reading_age"] == "8 - 11 years") | (eksplor["reading_age"] == "8 - 12 years")) |
           ((eksplor["reading_age"] == "10 - 13 years") | (eksplor["reading_age"] == "9 - 12 years") | 
           (eksplor["reading_age"] == "10 - 12 years") | (eksplor["reading_age"] == "10 years") |
           (eksplor["reading_age"] == "10 years and up") | (eksplor["reading_age"] == "6 - 11 years")),

           ((eksplor["reading_age"] == "12 - 15 years") | (eksplor["reading_age"] == "13 years and up") |
           (eksplor["reading_age"] == "10 - 14 years") | (eksplor["reading_age"] == "12 years up") | 
           (eksplor["reading_age"] == "11 years up") | (eksplor["reading_age"] == "14 years and up") |
           (eksplor["reading_age"] == "15 years and up") | (eksplor["reading_age"] == "12 years and up"))

]

result =[
         "TK","SD","Others"
]
val = np.select(condition,result)
eksplor.loc[:,"reading_age_converted"] = val
eksplor['reading_age_converted'] = eksplor["reading_age_converted"].replace({"Others" : 703, "SD" : 704, "TK" : 1,"0" : 705})
eksplor.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                         description  ... reading_age_converted
0  Rachel Friedman has always been the consummate...  ...                   705
1  As Dr. Marina Singh embarks upon an uncertain ...  ...                   705
2  From the moment she took a job on Captain Cald...  ...                   705

[3 rows x 9 columns]

In [159]:
test["lexile_codes"] = eksplor["lexile_codes"]
test["lexile_measureNumber"] = eksplor["lexile_measureNumber"]
test["lexile_categorical"] = eksplor["lexile_categorical"]
test["grade_category"] = eksplor["grade_category"]
test["reading_age_converted"] = eksplor["reading_age_converted"]

In [160]:
dummiesLexileCodes = pd.get_dummies(test["lexile_codes"])
dummiessLexileCategorical = pd.get_dummies(test["lexile_categorical"])
dummiesGradeCategory = pd.get_dummies(test["grade_category"])
dummiesReadingAge = pd.get_dummies(test["reading_age_converted"])


droppedCols = ["lexile_codes",
               "lexile_categorical","grade_category",
               "reading_age_converted"
               ]

test[dummiesLexileCodes.columns] = dummiesLexileCodes
test[dummiessLexileCategorical.columns] = dummiessLexileCategorical
test[dummiesGradeCategory.columns] = dummiesGradeCategory
test[dummiesReadingAge.columns] = dummiesReadingAge

test.drop(droppedCols,axis=1,inplace=True)

In [161]:
test.head(4)

   author_id  bookformat  bookedition  pages  ...  1  703  704  705
0        359           4           -1    295  ...  0    0    0    1
1         32           1           -1    353  ...  0    0    0    1
2        357           4           20    373  ...  0    0    0    1
3        280           1           -1    423  ...  0    0    0    1

[4 rows x 54 columns]

In [162]:
testcopy = test.copy()
y_testcopy = yTest.copy()

testScalerX = MinMaxScaler()
testScalerY = MinMaxScaler()

testcopy[numerics] =scalerX.transform(testcopy[numerics])
y_testcopy = testScalerY.fit_transform(y_testcopy.values.reshape(-1,1))

In [163]:
y_pred = RandomForest.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(mean_squared_error(y_testcopy,y_pred))
print(np.sqrt(mean_squared_error(y_testcopy,y_pred)))

0.029243667158783827
0.17100779853206644

In [164]:
y_pred = RandomForest.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(mean_squared_error(y_testcopy,y_pred))
print(np.sqrt(mean_squared_error(y_testcopy,y_pred)))

0.029243667158783827
0.17100779853206644

In [165]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)

ypred = reg.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
sns.regplot(y_testcopy,ypred)
print(f"Linear Regression MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"Linear Regression RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")


from sklearn.tree import DecisionTreeRegressor

dcs=DecisionTreeRegressor().fit(x_train,y_train)
ypred = dcs.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(f"Decision Regression MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"Decision Regression RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")


from sklearn.svm import SVR

svr_rbf = SVR(kernel='rbf', C=100, gamma=0.1, epsilon=.1).fit(x_train,y_train)
ypred = svr_rbf.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(f"SVR MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"SVR RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")


from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors=10).fit(x_train,y_train)
ypred = knn.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(f"KNN MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"KNN RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")


from sklearn.ensemble import VotingRegressor

vote = VotingRegressor([('decesionTreeReg', dcs),("randomforest",RandomForestRegressor()),('svr',svr_rbf),('knn',knn)]).fit(x_train,y_train)
ypred = vote.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(f"Voting Regressor MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"Voting Regressor RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")

ypred = model.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(f"DeepLearning  MSE : {mean_squared_error(y_testcopy,ypred)}")
print(f"DeepLearning  RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")

/usr/local/lib/python3.7/dist-packages/seaborn/_decorators.py:43: FutureWarning: Pass the following variables as keyword args: x, y. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  FutureWarning

Linear Regression MSE : 2305115.0403231215
Linear Regression RMSE : 1518.260531108914
Decision Regression MSE : 0.0554370511017982
Decision Regression RMSE : 0.23545074028721635
SVR MSE : 0.029732603576553104
SVR RMSE : 0.17243144602001428
KNN MSE : 0.040864489441264494
KNN RMSE : 0.2021496708908142
Voting Regressor MSE : 0.03701559011405254
Voting Regressor RMSE : 0.19239436092061674
DeepLearning  MSE : 0.039410257749743376
DeepLearning  RMSE : 0.19852016962954513

In [166]:
from sklearn.metrics import mean_absolute_error,mean_absolute_error,r2_score
def printTheOutput(model,modelName):
    ypred = model.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
    print(f"{modelName} Mean : {np.mean(ypred)} ")
    print(f"{modelName} Median : {np.median(ypred)}")
    print(f"{modelName} STD : {np.std(ypred)}")
    print(f"{modelName} MAE : {mean_absolute_error(y_testcopy,ypred)}")
    print(f"{modelName} MSE : {mean_squared_error(y_testcopy,ypred)}")
    print(f"{modelName} RMSE : {np.sqrt(mean_squared_error(y_testcopy,ypred))}")
    print()
printTheOutput(reg,"Regression")
printTheOutput(knn,"KNN")
printTheOutput(dcs,"Decision Tree")
printTheOutput(RandomForest,"Random Forest")
printTheOutput(vote,"Voting Classifier")
printTheOutput(model,"DeepLearning")

Regression Mean : 1220.1084520967868
Regression Median : 1048.8917261168424
Regression STD : 903.8192329900746
Regression MAE : 1219.994754262897
Regression MSE : 2305115.0403231215
Regression RMSE : 1518.260531108914

KNN Mean : 0.2941083710140177
KNN Median : 0.29571949075478765
KNN STD : 0.004238264212134062
KNN MAE : 0.19148773408788225
KNN MSE : 0.040864489441264494
KNN RMSE : 0.2021496708908142

Decision Tree Mean : 0.2692660040284733
Decision Tree Median : 0.23038329969235619
Decision Tree STD : 0.15021854992802128
Decision Tree MAE : 0.18088448453744432
Decision Tree MSE : 0.0554370511017982
Decision Tree RMSE : 0.23545074028721635

Random Forest Mean : 0.2590568641456441
Random Forest Median : 0.25738866469916555
Random Forest STD : 0.03724382780660746
Random Forest MAE : 0.15796770224977716
Random Forest MSE : 0.029243667158783827
Random Forest RMSE : 0.17100779853206644

Voting Classifier Mean : 0.27723719709106515
Voting Classifier Median : 0.26808928951405886
Voting Classifier STD : 0.04614998173210147
Voting Classifier MAE : 0.17644472051718613
Voting Classifier MSE : 0.03701559011405254
Voting Classifier RMSE : 0.19239436092061674

DeepLearning Mean : 0.29101258516311646
DeepLearning Median : 0.29101258516311646
DeepLearning STD : 0.0
DeepLearning MAE : 0.1879307246496988
DeepLearning MSE : 0.039410257749743376
DeepLearning RMSE : 0.19852016962954513

In [167]:
y_pred = RandomForest.predict(testcopy.drop(["author_id","publisher_id"],axis=1))
print(mean_squared_error(y_testcopy,y_pred))
print(np.sqrt(mean_squared_error(y_testcopy,y_pred)))
print((y_pred))

0.029243667158783827
0.17100779853206644
[0.24133297 0.23942584 0.22197462 0.2828056  0.24322687 0.20765457
 0.25285796 0.25475194 0.24388338 0.31361646 0.24571375 0.31361646
 0.25348188 0.18896052 0.31361646 0.25641508 0.26643668 0.28333549
 0.21294062 0.25958499 0.26139241 0.2828056  0.25702851 0.25489584
 0.25953819 0.20661851 0.23983236 0.24651991 0.26410242 0.24191601
 0.31361646 0.31361646 0.25320776 0.28282352 0.24738548 0.27817253
 0.21870673 0.25544615 0.28455365 0.31361646 0.31361646 0.24291052
 0.26519392 0.2363772  0.21588766 0.18959403 0.25733653 0.21313746
 0.31361646 0.2828056  0.25862579 0.26049234 0.17551083 0.26257935
 0.27353371 0.25146242 0.31361646 0.26238885 0.31341503 0.25741053
 0.31361646 0.22670037 0.24382385 0.25836531 0.25755493 0.31161181
 0.31361646 0.31361646 0.2585835  0.22333388 0.25137364 0.32810766
 0.26424901 0.31361646 0.24513008 0.23636123 0.31361646 0.2575593
 0.19016751 0.19474913 0.24379588 0.31361646 0.31361646 0.25904214
 0.25343364 0.25947221 0.25573311 0.25288157 0.24849409 0.25646903
 0.31361646 0.2828056  0.23767584 0.26139518 0.26164795 0.21256382
 0.28296072 0.25581804 0.26861839 0.25688252 0.25359644 0.2828056
 0.31361646 0.25661403 0.2828056  0.2287918  0.25448872 0.26027876
 0.25825829 0.25609459 0.19927138 0.24137866 0.24191601 0.22567656
 0.26348138 0.31361646 0.25946672 0.22331303 0.28420682 0.24450408
 0.24106385 0.24302701 0.2828056  0.22708073 0.26001643 0.26987694
 0.26623449 0.25447238 0.31392959 0.26660232 0.25030179 0.31361646
 0.25424978 0.26204438 0.21464372 0.21974842 0.31361646 0.2540391
 0.26304723 0.25746999 0.25165258 0.25644556 0.2828056  0.28302669
 0.25944184 0.31361646 0.21445611 0.26712874 0.25826596 0.23533268
 0.26592358 0.27118034 0.26612866 0.2526247  0.2828056  0.2828056
 0.19016751 0.2538904  0.25903806 0.25017004 0.19351424 0.24912459
 0.26395475 0.24771773 0.19889558 0.26811703 0.31361646 0.31361646
 0.24358047 0.26121165 0.31361646 0.2556387  0.20341108 0.19478043
 0.31361646 0.23713635 0.22269403 0.25519092 0.31361646 0.2388815
 0.25649837 0.24191601 0.2828056  0.31361646 0.25720584 0.26005559
 0.22815419 0.25755937 0.2530064  0.31361646 0.2828056  0.18862286
 0.24844868 0.19474913 0.26068525 0.18934931 0.19958379 0.26526945
 0.40746472 0.31361646 0.24682963 0.23853147 0.25422181 0.31361646
 0.23898382 0.31361646 0.31388073 0.2828056  0.26038516 0.25965896
 0.31361646 0.31397303 0.23843687 0.25431278 0.2828056  0.18465765
 0.31361646 0.2828056  0.18269117 0.31361646 0.16768376 0.31407328
 0.25164643 0.27208277 0.22315807 0.25097535 0.27084192 0.26135304
 0.31361646 0.31361646 0.28518293 0.31361646 0.31361646 0.24753488
 0.26127557 0.26477691 0.26538041 0.24873791 0.19016751 0.27182794
 0.19474913 0.24845275 0.26623228 0.19447414 0.26118458 0.26696519
 0.26394071 0.31323547 0.25069567 0.25497396 0.25608145 0.31361646
 0.25357012 0.31361646 0.31392959 0.24191601 0.31361646 0.2587078
 0.25896083 0.31361646 0.31361646 0.24132217 0.26288868 0.18635163
 0.31361646 0.25803932 0.25446838 0.19474913 0.21657654 0.25251188
 0.25928222 0.20686532 0.2066379  0.31361646 0.26310619 0.25746999
 0.22598678 0.26314605 0.22943019 0.24688659 0.25943982 0.31361646
 0.24442362 0.31361646 0.23997303 0.25714288 0.21617516 0.31361646
 0.24799398 0.1717153  0.19805877 0.18437891 0.2654994  0.26202332
 0.26376214 0.31361646 0.25857462 0.25538593 0.24626202 0.27137909
 0.25311577 0.25340574 0.2828056  0.28326241 0.2294509  0.18752425
 0.26310156 0.32807037 0.25250491 0.24191601 0.24669851 0.28269826
 0.24267958 0.25721936 0.22240152 0.25990522 0.31292864 0.31361646
 0.24182385 0.26530963 0.21590207 0.2828056  0.25028135 0.23976915
 0.2481824  0.23669922 0.25734769 0.2731219  0.20582308 0.31361646
 0.25176777 0.25298449 0.25917465 0.2523775  0.26064704 0.20833518
 0.31407328 0.25102063 0.31361646 0.2544009  0.24401594 0.25462683
 0.2573668  0.26069117 0.25398688 0.2828056  0.22083361 0.31361646
 0.24038678 0.31361646 0.26029638 0.29934676 0.25223908 0.23751993
 0.17726943 0.24904575 0.18921531 0.31361646 0.31361646 0.24859911
 0.31361646 0.26653115 0.21914977 0.24500983 0.24904575 0.22183488
 0.25531776 0.25604626 0.23835484 0.24417508 0.31361646 0.18038767
 0.19610489 0.19474913 0.24619726 0.21897171 0.25736037 0.25362327
 0.25942657 0.31323547 0.31361646 0.26383155 0.31361646 0.25522165
 0.2828056  0.31688991 0.2638877  0.31361646 0.26503939 0.31361646
 0.31361646 0.31361646 0.24928668 0.19359572 0.24934296 0.31383755
 0.26038516 0.26833231 0.25264733 0.24846589 0.24889351 0.2622113
 0.25046019 0.31361646 0.31361646 0.24256174 0.15486567 0.31341503
 0.26651852 0.26580261 0.31361646 0.20851051 0.23604747 0.21329575
 0.25939972 0.26536885 0.26245073 0.20965794 0.26338528 0.26381388
 0.31361646 0.22557862 0.17192212 0.26038516 0.2828056  0.22892131
 0.2828056  0.25317062 0.23309862 0.18868554 0.31275348 0.22890614
 0.18560962 0.26461773 0.26368531 0.31361646 0.29611002 0.27543827
 0.18813642 0.25377644 0.24936146 0.24142506 0.31388073 0.26134972
 0.2828056  0.26191317 0.26913051 0.26799995 0.26399013 0.25628031
 0.28296072 0.26534366 0.20511309 0.24834651 0.24976349 0.22798304
 0.25942657 0.24606179 0.24359847 0.21370853 0.22130435 0.19460853
 0.31361646 0.26256765 0.24833023 0.17171011 0.31361646 0.1809954
 0.26415149 0.25084085 0.26387786 0.21878183 0.2504912  0.26039127
 0.31361646 0.19162396 0.28344123 0.22565492 0.22038551 0.31361646
 0.20798426 0.25945787 0.25450544 0.25662874 0.20864075 0.21266787
 0.31361646 0.11702692 0.27173168 0.23625243 0.2575593  0.3123314
 0.24701532 0.22670037 0.31361646 0.31361646 0.31361646 0.21855057
 0.31361646 0.25181399]

In [168]:
print(testScalerY.inverse_transform(y_pred.reshape(-1,1)))

[[522069.1633098 ]
 [518056.46404353]
 [481338.25493325]
 [609329.55655578]
 [526054.0182617 ]
 [451208.1799251 ]
 [546318.28092447]
 [550303.30361342]
 [527435.33961303]
 [674157.09382341]
 [531286.52995272]
 [674157.09382341]
 [547631.03928901]
 [411875.00855661]
 [674157.09382341]
 [553802.64015148]
 [574888.56872127]
 [610444.47545606]
 [462330.28233418]
 [560472.28070372]
 [564275.17299624]
 [609329.55655578]
 [555093.31956628]
 [550606.07921671]
 [560373.80548181]
 [449028.258047  ]
 [518911.80411782]
 [532982.72104985]
 [569977.16141694]
 [523295.89541954]
 [674157.09382341]
 [674157.09382341]
 [547054.27527096]
 [609367.25395883]
 [534803.92287911]
 [599581.34988754]
 [474462.45434822]
 [551763.95954977]
 [613007.54868832]
 [674157.09382341]
 [674157.09382341]
 [525388.40203524]
 [572273.74184937]
 [511641.9704618 ]
 [468530.99396294]
 [413207.94156945]
 [555741.41581423]
 [462744.44508564]
 [674157.09382341]
 [609329.55655578]
 [558454.07652387]
 [562381.38445335]
 [383576.20890136]
 [566772.54659563]
 [589821.04653564]
 [543382.01207486]
 [674157.09382341]
 [566371.73971743]
 [673733.25658485]
 [555897.1081038 ]
 [674157.09382341]
 [491281.46919241]
 [527310.07427243]
 [557906.01361205]
 [556200.93929271]
 [669939.20023221]
 [674157.09382341]
 [674157.09382341]
 [558365.10035695]
 [484198.19829947]
 [543195.20833577]
 [704647.26797104]
 [570285.61117737]
 [674157.09382341]
 [530058.4451521 ]
 [511608.37646673]
 [674157.09382341]
 [556210.13800945]
 [414414.57397117]
 [424054.51401743]
 [527251.22920285]
 [674157.09382341]
 [674157.09382341]
 [559330.10495134]
 [547529.55038532]
 [560234.97530586]
 [552367.73009276]
 [546367.9650334 ]
 [537136.49003289]
 [553916.148691  ]
 [674157.09382341]
 [609329.55655578]
 [514374.37351185]
 [564281.00376908]
 [564812.85595074]
 [461537.4886635 ]
 [609655.94430228]
 [552546.4363821 ]
 [579478.97917614]
 [554786.1506354 ]
 [547872.08783006]
 [609329.55655578]
 [674157.09382341]
 [554221.24690847]
 [609329.55655578]
 [495681.93256762]
 [549749.48595455]
 [561931.99699303]
 [557680.83424349]
 [553128.30703953]
 [433569.54162857]
 [522165.29523185]
 [523295.89541954]
 [489127.32268085]
 [568670.46846833]
 [674157.09382341]
 [560223.43269273]
 [484154.34013432]
 [612277.79016285]
 [528741.32233191]
 [521502.91796343]
 [525633.48694237]
 [609329.55655578]
 [492081.7648262 ]
 [561380.04582535]
 [582127.03222215]
 [574463.15607981]
 [549715.10894788]
 [674815.92186436]
 [575237.07181105]
 [540939.98346422]
 [674157.09382341]
 [549246.74102746]
 [565646.95307942]
 [465913.67962036]
 [476654.21387411]
 [674157.09382341]
 [548803.46530125]
 [567757.00656032]
 [556022.22704714]
 [543782.11384583]
 [553866.75909534]
 [609329.55655578]
 [609794.73084019]
 [560171.07694537]
 [674157.09382341]
 [465518.9399476 ]
 [576344.6927511 ]
 [557696.98051018]
 [509444.26073446]
 [573808.97222481]
 [584869.45955714]
 [574240.46514814]
 [545827.4888883 ]
 [609329.55655578]
 [609329.55655578]
 [414414.57397117]
 [548490.58394931]
 [559321.50209149]
 [540662.77365278]
 [421456.24513296]
 [538463.10485898]
 [569666.4564074 ]
 [535502.98492461]
 [432778.84981979]
 [578424.10620271]
 [674157.09382341]
 [674157.09382341]
 [526798.00498345]
 [563894.85633174]
 [674157.09382341]
 [552169.10326525]
 [442279.66762493]
 [424120.37273634]
 [674157.09382341]
 [513239.26762275]
 [482851.92902912]
 [551226.93644655]
 [674157.09382341]
 [516911.14539692]
 [553977.88826738]
 [523295.89541954]
 [609329.55655578]
 [674157.09382341]
 [555466.44061422]
 [561462.43779423]
 [494340.37607039]
 [556210.26760803]
 [546630.61725931]
 [674157.09382341]
 [609329.55655578]
 [411164.55767377]
 [537040.95054227]
 [424054.51401743]
 [562787.28263342]
 [412693.04365946]
 [434226.86619809]
 [572432.65605226]
 [871618.31997056]
 [674157.09382341]
 [533634.38737078]
 [516174.66596577]
 [549187.88122905]
 [674157.09382341]
 [517126.41950565]
 [674157.09382341]
 [674713.11668139]
 [609329.55655578]
 [562155.8676802 ]
 [560627.90897836]
 [674157.09382341]
 [674907.31880847]
 [515975.6129752 ]
 [549379.28801685]
 [609329.55655578]
 [402821.55117688]
 [674157.09382341]
 [609329.55655578]
 [398683.98436392]
 [674157.09382341]
 [367107.66938021]
 [675118.24716261]
 [543769.16381722]
 [586768.20850588]
 [483828.29722019]
 [542357.19208702]
 [584157.39783379]
 [564192.34885711]
 [674157.09382341]
 [674157.09382341]
 [614331.56501033]
 [674157.09382341]
 [674157.09382341]
 [535118.26989942]
 [564029.33676424]
 [571396.32412994]
 [572666.12270643]
 [537649.49839547]
 [414414.57397117]
 [586232.03685334]
 [424054.51401743]
 [537049.50875639]
 [574458.49174496]
 [423475.93572727]
 [563837.88744272]
 [576000.58047931]
 [569636.93128763]
 [673355.46191289]
 [541768.72345397]
 [550770.44259721]
 [553100.66105175]
 [674157.09382341]
 [547816.70506689]
 [674157.09382341]
 [674815.92186436]
 [523295.89541954]
 [674157.09382341]
 [558626.62407945]
 [559159.00653727]
 [674157.09382341]
 [674157.09382341]
 [522046.42015812]
 [567423.40442673]
 [406385.78201198]
 [674157.09382341]
 [557220.11056978]
 [549706.68996846]
 [424054.51401743]
 [469980.44553278]
 [545590.12507521]
 [559835.22857094]
 [449547.55378827]
 [449069.06382734]
 [674157.09382341]
 [567881.05704981]
 [556022.22704714]
 [489780.03507256]
 [567964.92830665]
 [497025.13702628]
 [533754.2404513 ]
 [560166.83922924]
 [674157.09382341]
 [528572.03729213]
 [674157.09382341]
 [519207.7690598 ]
 [555333.95347991]
 [469135.9212167 ]
 [674157.09382341]
 [536084.2401835 ]
 [375590.2411791 ]
 [431018.15100101]
 [402235.06851036]
 [572916.48409599]
 [565602.63512473]
 [569261.19695438]
 [674157.09382341]
 [558346.42244888]
 [551637.24992209]
 [532440.11338674]
 [585287.6399175 ]
 [546860.72158189]
 [547470.83147412]
 [609329.55655578]
 [610290.70989498]
 [497068.71607004]
 [408853.02081118]
 [567871.31678317]
 [704568.80643061]
 [545575.44769564]
 [523295.89541954]
 [533358.50120945]
 [609103.70491373]
 [524902.47454941]
 [555494.88585414]
 [482236.47994021]
 [561146.04845279]
 [672709.86935649]
 [674157.09382341]
 [523101.98746989]
 [572517.19778907]
 [468561.31542947]
 [609329.55655578]
 [540896.98173605]
 [518778.80387669]
 [536480.67900942]
 [512319.52708218]
 [555764.88428845]
 [588954.5976896 ]
 [447354.63745599]
 [674157.09382341]
 [544024.46768932]
 [546584.51870971]
 [559608.90336049]
 [545307.37723031]
 [562706.87884216]
 [452640.22543542]
 [675118.24716261]
 [542452.46123613]
 [674157.09382341]
 [549564.69432971]
 [527714.25354389]
 [550040.07462147]
 [555805.1022621 ]
 [562799.73687096]
 [548693.59687582]
 [609329.55655578]
 [478937.52120736]
 [674157.09382341]
 [520078.31514273]
 [674157.09382341]
 [561969.08611546]
 [644132.96063154]
 [545016.13759633]
 [514046.34308064]
 [387276.39651762]
 [538297.21004741]
 [412411.086899  ]
 [674157.09382341]
 [674157.09382341]
 [537357.45803197]
 [674157.09382341]
 [575087.34208168]
 [475394.6308062 ]
 [529805.44925307]
 [538297.21004741]
 [481044.23680301]
 [551493.81836161]
 [553026.61222941]
 [515803.01693266]
 [528049.08903097]
 [674157.09382341]
 [393837.32075044]
 [426907.09428442]
 [424054.51401743]
 [532303.84295828]
 [475019.97880056]
 [555791.56696559]
 [547928.53130073]
 [560138.96071002]
 [673355.46191289]
 [674157.09382341]
 [569407.24646556]
 [674157.09382341]
 [551291.60262641]
 [609329.55655578]
 [681044.58455389]
 [569525.38542517]
 [674157.09382341]
 [571948.59290563]
 [674157.09382341]
 [674157.09382341]
 [674157.09382341]
 [538804.14608647]
 [421627.69724599]
 [538922.54946835]
 [674622.26810782]
 [562155.8676802 ]
 [578877.05344694]
 [545875.11437642]
 [537077.15121555]
 [537976.90183964]
 [565998.1623306 ]
 [541273.26421839]
 [674157.09382341]
 [674157.09382341]
 [524654.53985587]
 [340137.80195154]
 [673733.25658485]
 [575060.76357702]
 [573554.45321046]
 [674157.09382341]
 [453009.12286383]
 [510948.19862865]
 [463077.50151703]
 [560082.47246372]
 [572641.79604301]
 [566501.93927692]
 [455423.37947053]
 [568468.26202408]
 [569370.06695757]
 [674157.09382341]
 [488921.24815252]
 [376025.38240075]
 [562155.8676802 ]
 [609329.55655578]
 [495954.42574529]
 [609329.55655578]
 [546976.12836519]
 [504743.69146248]
 [411296.43026645]
 [672341.3309905 ]
 [495922.51299847]
 [404824.54797534]
 [571061.40657887]
 [569099.55373193]
 [674157.09382341]
 [637322.68570503]
 [593828.33146075]
 [410141.04933724]
 [548250.81266616]
 [538961.48782806]
 [522262.91622603]
 [674713.11668139]
 [564185.35720247]
 [609329.55655578]
 [565370.8878077 ]
 [580556.51153126]
 [578177.76597513]
 [569740.90292722]
 [553519.07783839]
 [609655.94430228]
 [572588.78674716]
 [445860.79319795]
 [536825.98426265]
 [539807.36656768]
 [493980.26759535]
 [560138.96071002]
 [532018.80968085]
 [526835.88254404]
 [463946.00736759]
 [479927.97252677]
 [423758.68245891]
 [674157.09382341]
 [566747.94545757]
 [536791.7274095 ]
 [375579.30857816]
 [674157.09382341]
 [395116.0161495 ]
 [570080.41042079]
 [542074.18901962]
 [569504.67361145]
 [474620.47007091]
 [541338.49791777]
 [562168.72366079]
 [674157.09382341]
 [417479.01564118]
 [610666.94794304]
 [489081.79002034]
 [477994.68294039]
 [674157.09382341]
 [451901.86003304]
 [560204.81358521]
 [549784.65664103]
 [554252.17673661]
 [453283.15612469]
 [461756.4045237 ]
 [674157.09382341]
 [260523.26267623]
 [586029.49997407]
 [511379.46273668]
 [556210.13800945]
 [671453.25520812]
 [534025.08210383]
 [491281.46919241]
 [674157.09382341]
 [674157.09382341]
 [674157.09382341]
 [474133.89327282]
 [674157.09382341]
 [544121.73060675]]

In [169]:
# Untuk melakukan prediksi gunakan cell ini model yang ini, perlu diperhatikan persamaan inputan kolom model dengan kolom data test

#ypred = RandomForest.predict(...))
#print(f"{"RandomForest"} Mean : {np.mean(ypred)} ")
#print(f"{"RandomForest"} Median : {np.median(ypred)}")
#print(f"{"RandomForest"} STD : {np.std(ypred)}")
#print(f"{"RandomForest"} MAE : {mean_absolute_error(...,ypred)}")
#print(f"{"RandomForest"} MSE : {mean_squared_error(...,ypred)}")
#print(f"{"RandomForest"} RMSE : {np.sqrt(mean_squared_error(...,ypred))}")
#print(testScalerY.inverse_transform(ypred.reshape(-1,1)))